body{
    font-family: "Times New Roman", serif;
    background-image: url('bild.jpg');
}

h1 {
    color: #491c2f;
}

h2 {
    color: #1c491c;
     text-align: center;
}

p {
    color: #297897;
}

ul li{
    color: rgb(54, 56, 22);
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day-name {
    background-color: white;
    padding: 10px;
    text-align: center;
}

.day{
    background-color: white;
    padding: 10px;
    text-align: center;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}


.today {
    background-color: green;
}

div:hover{
    cursor: pointer;
}

.highlight {  

    color: brown;
    font-weight: bold;
}
.sat {
    background-color: lightblue;
    font-weight: bold;
}  
.sun {
    background-color: rgba(177, 13, 13, 0.76);
    font-weight: bold;
<<<<<<< HEAD:test.css
} 
.another_month {
    background-color: white;
    padding: 10px;
    text-align: center;
}
=======
}  
>>>>>>> f1f103da07a97666d5fe32efaa6c72bf118b4c15:index1.css
