h1 {
    color: #491c2f;
}

h2 {
    color: #1c491c;
}

p {
    color: #297897;
}

ul li{
    color: rgb(123, 130, 25);
}

.saturday {
    color: blue;
    font-weight: bold;
}

.sunday {
    color: red;
    font-weight: bold;
}

table, th, td {
    border: 3px solid black;
    border-collapse: collapse;  
    text-align: center;
    padding: 8px;
    table-layout: fixed;
    width: 50%;
}